<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>NewsEdit</title>
  </head>
  <body>
    <%- include('./header') %>
    <table id="myTable" class="display">
      <thead>
          <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Published At</th>
              <th>Edit/Delete</th>
          </tr>
      </thead>
      <tbody id="table">
        <% data.forEach(function(news){ %>
                <tr  id='<%= news._id %>'>
                <td id='<%= news.title %>' class="row-data" contenteditable="false"><%= news.title %></td>
                <td id='<%= news.desc %>' class="row-data" contenteditable="false"><%= news.desc %></td>
                <td id='<%= news.CreatedOn %>' class="row-data" contenteditable="false"><%= news.CreatedOn %></td>
                <td id='<%= news._id %>' class="row-data">
                  <a hidden id="edit_<%= news._id %>"  name="edit"class="btn btn-primary" onclick="let a = '<%= news._id %>';let x = '<%= news.title %>'; let y = '<%= news.desc %>'; let z = '<%= news.CreatedOn %>'; dltPost(a,x,y,z);" >Finish Edit</a>
                  <button type="button" id="editStart_<%= news._id %>"  class="btn btn-primary" onclick="let id1='<%= news._id %>'; dlt(id1)">Edit</button>
                  <button type="button" hidden id="editCancel_<%= news._id %>"class="btn btn-danger" onclick="let id1='<%= news._id %>'; dlt(id1)">Cancel</button>
                  <a id="delete_<%= news._id %>" name="delete"class="btn btn-danger" href="/news/delete/<%= news._id %>">Delete</a>
                </td>
                </tr>
          <% }); %>
      </tbody>
  </table>
  <div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" id="editModal">
          Your Change has been saved!
        </div>
        <div class="modal-footer text-xs-center">
          <button type="button" id="modBtn"class="btn btn-success" data-dismiss="modal">Awesome!</button>
        </div>
      </div>
    </div>
  </div>
  <%- include('./footer') %>
  
  </body>
  <script>
    function dlt(id){
      
      document.getElementById("edit_"+id).toggleAttribute("hidden");
      document.getElementById("editCancel_"+id).toggleAttribute("hidden");
      document.getElementById("editStart_"+id).toggleAttribute("hidden");
      document.getElementById("delete_"+id).toggleAttribute("hidden");
      var elements = document.getElementById("table").getElementsByTagName("td");
        for(var i = 0, length = elements.length; i < length; i++) {
          console.log(elements[i]);
          if(elements[i].lastElementChild !== null){
            console.log('NODENAME',elements[i].children[0].nodeName);
            continue;
          }
          
          if( elements[i].contentEditable == 'false'){
            elements[i].contentEditable = 'true';
          } else{
            elements[i].contentEditable = 'false';
          }
        }
    }
      function dltPost(id, title, desc, time){
        console.log(title, desc, time);
        dlt(id);
        var inputTitle=document.getElementById(title).innerHTML;
        var inputDesc=document.getElementById(desc).innerHTML;
        var inputTime=document.getElementById(time).innerHTML;
        console.log(inputTitle,inputDesc,inputTime);
        $('#myModal').modal();
        $.get("/news/edit/"+id+"/"+inputDesc+"/"+inputTime+"/"+inputTitle);
        //event.preventDefault();

      }
    
    $(document).ready( function () {
      $('#myTable').DataTable();
    } );
  </script>
</html>
